body, html {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background: rgb(228, 77, 38); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(228, 77, 38, 1) 0%, rgba(209, 116, 35, 1) 69%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(228, 77, 38, 1)), color-stop(69%, rgba(209, 116, 35, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(228, 77, 38, 1) 0%, rgba(209, 116, 35, 1) 69%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(228, 77, 38, 1) 0%, rgba(209, 116, 35, 1) 69%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(228, 77, 38, 1) 0%, rgba(209, 116, 35, 1) 69%); /* IE10+ */
    background: linear-gradient(to right, rgba(228, 77, 38, 1) 0%, rgba(209, 116, 35, 1) 69%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e44d26', endColorstr = '#d17423', GradientType = 1); /* IE6-9 */
}

#loadDiv {
    visibility: hidden;
    text-align: center;
    z-index: 999;
    left: 42.5%;
    top: 50%;
    position: fixed;
    padding: 10px 20px;
    min-height: 5%;
    min-width: 150px;
    color: white;
    font-size: 24px;
    box-shadow: 1px 1px 1px black;
    font-family: Arial, sans-serif;
    background-color: gray;
}

#wrapper {
    background: rgb(219, 219, 219); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(219, 219, 219, 1) 0%, rgba(229, 229, 229, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(219, 219, 219, 1)), color-stop(100%, rgba(229, 229, 229, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(219, 219, 219, 1) 0%, rgba(229, 229, 229, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(219, 219, 219, 1) 0%, rgba(229, 229, 229, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(219, 219, 219, 1) 0%, rgba(229, 229, 229, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(219, 219, 219, 1) 0%, rgba(229, 229, 229, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dbdbdb', endColorstr = '#e5e5e5', GradientType = 0); /* IE6-9 */
    padding-bottom: 100px; /* height of footer */
    min-height: 88%;
    position: relative;
}

header img {
    float: right;
    margin-top: 20px;
}

header {
    background: url("../images/low_contrast_linen.png") repeat;
    box-shadow: 1px 1px 1px black;
    min-height: 100px;
    padding: 20px;
}

input {
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid gray;
}

.redInput {
    background-color: #f08080;
}

.greenInput {
    background-color: #90ee90;
}

.blueInput {
    background-color: #add8e6;
}

h1 {
    float: left;
    margin: 0;
    text-shadow: 2px 1px 1px black;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 80px;
    font-weight: 200;
}

h2 {
    font-size: 32px;
    text-shadow: 1px 1px 1px grey;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 200;
}

#mainDiv {
    padding: 30px;
}

#canvasDiv {
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #d3d3d3;
    padding-bottom: 5px;
    float: left;
    box-shadow: 1px 1px 3px black;
}

.propertyContainer {
    float: left;
    width: 370px;
    margin-right: 30px;
}

.propertyDiv {
    padding: 10px;
    min-width: 350px;
    margin-bottom: 30px;
    float: left;
    box-shadow: 1px 1px 3px black;
    background-color: white;
}

#worldDiv {
}

#lightsDiv {
}

#objectsDiv {
}

#cameraDiv {
}

footer {
    text-align: center;
    box-shadow: -1px 2px 4px black inset;
    padding: 25px 5%;
    color: white;
    font-size: 22px;
    font-family: Arial, sans-serif;
    width: 90%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(228, 77, 38); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(228, 77, 38, 1) 0%, rgba(209, 116, 35, 1) 69%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(228, 77, 38, 1)), color-stop(69%, rgba(209, 116, 35, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(228, 77, 38, 1) 0%, rgba(209, 116, 35, 1) 69%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(228, 77, 38, 1) 0%, rgba(209, 116, 35, 1) 69%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(228, 77, 38, 1) 0%, rgba(209, 116, 35, 1) 69%); /* IE10+ */
    background: linear-gradient(to right, rgba(228, 77, 38, 1) 0%, rgba(209, 116, 35, 1) 69%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e44d26', endColorstr = '#d17423', GradientType = 1); /* IE6-9 */
}

footer img {
    margin-right: 50px;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */

.clearfix {
    *zoom: 1;
}

